{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Hero Section -->
    {% include 'hero_section.html' %}

    <!-- About Section -->
    {% include 'about_section.html' %}

    <!-- Why Us Section -->
    {% include 'why_us-section.html' %}

    <!-- Menu Section -->
    {% include 'menu.html' %}

    <!-- Specials Section -->
    {% include 'specials.html' %}

    <!-- Events Section -->
    {% include 'events.html' %}

    <!-- Book A Table Section -->
    {% include 'book_a_table.html' %}

      <!-- Gallery Section -->
    {% include 'gallery.html' %}

    <!-- Chefs Section -->
    {% include 'chefs_section.html' %}

    <!-- Contact Section -->
    {% include 'contacts.html' %}





        {% endblock %}
