{% load static %}


  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    {% if specials %}
    <div class="row">
      <!-- Tabs -->
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          {% for special in specials %}
          <li class="nav-item">
            <a class="nav-link {% if forloop.first %}active show{% endif %}" data-bs-toggle="tab" href="#specials-tab-{{ special.id }}">
              {{ special.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Tab Content -->
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          {% for special in specials %}
          <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="specials-tab-{{ special.id }}">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>{{ special.title }}</h3>
                <p class="fst-italic">{{ special.desc|truncatechars:100 }}</p>
                <p>{{ special.desc }}</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ special.photo.url }}" alt="{{ special.title }}" class="img-fluid">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  </div>
</section>
